.average-session__container {
    position: relative;
    width: 258px;
    height: 263px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ff0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}