.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #020203;
    padding: 0 20px;

    &__logo {
        width: 200px;
        height: auto;
        z-index: 999;
    }

    &__nav {
        width: 100%;
    }

    &__nav-list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: space-around;
    }

    &__nav-item {
        margin-left: 40px;
    }

    &__nav-link {
        text-decoration: none;
        color: white;
        font-size: 18px;
        transition: color 0.3s ease;

        &:hover {
            color: #e60000;
        }
    }
}
