.sidebar__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px; 
    background-color: #020203;

    // Définition des styles pour les icônes et les éléments de navigation
    nav {
        display: flex;
        flex-direction: column;
        align-items: center; // centrer les icônes si nécessaire
        height: 100%;
        padding-top: 20px; // ajustez l'espacement au-dessus selon la maquette

        img {
            margin-bottom: 30px; // espacement entre les icônes
            width: 48px; // ou la taille souhaitée
            height: auto;
        }
    }
}