.main-content {
   display: flex;
   flex-direction: column;
   margin-left: 100px;
   height: 100%;

   h1 {
      span {
         color: #ff0000;
      }
   }

   .user-greeting {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
      padding-left: 75px;
   }

   .square-charts {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
   }

   .datas-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      &__left-content {
         height: 100%;
         width: 60%;
      }

      &__right-content {
         height: 100%;
      }
   }
}